.nav-stuff {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-item {
    color: rgba(0, 0, 0, 0.822);
    display: flex;
}

.btn {
    font-weight: 900;
    font-size: 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/images/banner.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    padding-top: 200px;
    margin-bottom: 70px;
}

.moment-section {
    margin-left: 150px;
}

.package-section {
    padding: 40px 0;
}

ul {
    list-style: none;
}

.light-pink-btn {
    background-color: #ffcbf852; 
    color: #0026ff;              
    border: none;             
}

.bankers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.banker-card {
    width: 370px;
    padding: 10px 5px;
}
.quitons{
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 50px;
}
.accordion{
    width: 500px;
    color: aliceblue;
}
.footer-stuff{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    background-color: #0B0D17;
    align-items: center;
    padding: 40px;
}
.footer-item-img img{
   width: 140px;

}
.footer-item-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
}